<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ActorModel.Common" version="1.0.7" targetFramework="net46" />
  <package id="ActorModel.ServiceFabric" version="1.0.7" targetFramework="net46" />
  <package id="ActorModel.ServiceFabric.Client" version="1.0.7" targetFramework="net46" />
  <package id="Microsoft.ServiceFabric" version="5.4.145" targetFramework="net46" />
  <package id="Microsoft.ServiceFabric.Actors" version="2.4.145" targetFramework="net46" />
  <package id="Microsoft.ServiceFabric.Data" version="2.4.145" targetFramework="net46" />
  <package id="Microsoft.ServiceFabric.Services" version="2.4.145" targetFramework="net46" />
</packages>